* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.navbar {
  background-color: rgb(235, 44, 44);
  color: white;
  justify-content: center;
}

.navbar-text {
  font-size: 30px;
}

.container {
  margin-top: 5%;
  justify-content: center;
  margin-left: 20%;
}

.container img {
  width: 200px;
  height: 300px;
  border-radius: 2%;
  object-fit: cover;
}



.card{
  width: 70%; 
  background-color: rgb(31, 30, 30);
  color: white;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}